@font-face {font-family: Minecraft; 
    src: url('../css/Minecraft.ttf');} 
h2{
font-family: Minecraft;
}

html,
body{
    padding: 0;
    text-align: center;
}

#game-welcome {
    padding: 20px 0px;
    text-align: center;
}

#game-instruction {
    /*display: none;*/
   /* position: absolute;*/
    padding: 20px 0px;
}
  
#game-container {
    position: absolute;
    display: flex;
    justify-content: center;
    /*display: none;*/
    width: 100vw;
    padding: 20px 0px;
}
  
#game-screen {
    /*display: none;*/
    justify-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url();
    background-size: cover;
    animation: slide 5s linear infinite;
}

/*#game-end {
    position: absolute;
    display: none;
}*/
  
/*.game-instruction h3 {
    position: absolute;
    font-size: 18px;
    font-family: "Minecraft";
    text-align: center;
}*/


.eat-or-die-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em; 
    height: auto; 
    z-index: 1;
  }
  
  
.arrows-img {
    /*position: absolute;*/
    width: 100px;
}

/*#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }*/